/*
$accent-color: #b4775a;
$border-color: #543228;
$font-color: black;
$background-color: #efefef;
$footer-color: #efefef;
*/

$background-color: #F5E8C7;
$footer-color: #ECCCB2;
$border-color: #DEB6AB;
$accent-color: #AC7088;
$font-color: #1C2833;